<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add an animal!</title>
</head>

<body>
    <div id="wrapper">

        <h1>Add a new animal:</h1>
        <form method="POST" action="/mongoose/process">

            <p>Animal Name: <input type="text" name="animalName"></p>
            <p>Description: <input type="text" name="description"></p>
            <p><input type="submit" value="Add Animal"></p>
        </form>
    </div>
</body>

</html>


<style>
    #wrapper {
        width: 500px;
        height: 700px;
        margin: 50px auto;
        background: lightblue;
        border: 2px solid black;
        text-align: left;
    }
    
    p {
        margin-left: 30px;
        margin-top: 5px;
    }
    
    h1 {
        margin-left: 30px;
        margin-top: 170px;
    }
</style>